@import '../../../assets/styles/mixins/flexbox.scss';
@import '../../../assets/styles/mixins/fonts.scss';
@import '../../../assets/styles/variables/sizes.scss';
@import '../../../assets/styles/variables/colors.scss';

.cc-data-panel {

    &__dashboard {
        width: 350px;
        @include flexbox(row, space-between);
    }

    &__users {
        @include flexbox(column, flex-start, flex-start);
        margin-top: 20px;
    }

    &__title {
        margin-bottom: 40px;
    }

}