@import '../../../assets/styles/mixins/flexbox.scss';
@import '../../../assets/styles/mixins/fonts.scss';
@import '../../../assets/styles/variables/colors.scss';

.cc-course-flow {

    &__typeahead {
        max-width: 300px;
    }

    &__courses {
        @include flexbox(row, flex-start, center, wrap);
        margin-top: 20px;
    }

    &__no-data-available {
        @include font-semibold();
        text-transform: uppercase;
    }

}