@import '../../../assets/styles/mixins/flexbox.scss';
@import '../../../assets/styles/mixins/fonts.scss';
@import '../../../assets/styles/variables/colors.scss';

.cc-card {
    width: 100%;
    max-width: 220px;
    height: 290px;
    border-radius: 5px;
    border: 2px solid darken($color-gray, 15%);
    margin-right: 50px;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: border-color linear 0.2s;
    overflow: hidden;

    &__photo {
        width: 100%;
        height: 100px;
    }

    &:hover {
        border-color: darken($color-gray, 30%);
    }

    &:active {
        border-color: darken($color-gray, 45%);
    }

    &_top-rated {
        border-color: $color-gold;

        &:hover {
            border-color: darken($color-gold, 15%);
        }

        &:active {
            border-color: darken($color-gold, 25%);
        }
    }

    &__container {
        padding: 10px;
        height: calc(100% - 100px);
        @include flexbox(column, space-between, center);
    }

    &__title {
        @include font-semibold();
        text-align: center;
    }

    &__desc {
        margin-top: 5px;
        text-align: center;
        height: 55px;
        overflow: hidden;
    }

    &__button {
        width: 100%;
        margin-top: 10px;
    }
}