@import '../../../assets/styles/variables/colors';
@import '../../../assets/styles/variables/sizes';
@import '../../../assets/styles/mixins/flexbox';
@import '../../../assets/styles/mixins/fonts';

.cc-sidebar-wrapper {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    background-color: $color-sidebar; 
}

.cc-sidebar {
    position: relative;

    &__logo {
        @include font-semibold();
        @include flexbox();
        margin-top: 20px;
        color: $color-white;
        font-size: 1.5rem;
        text-transform: uppercase;
        cursor: pointer;
    }

    &-navigation {
        margin-top: 30px;
        color: $color-white;

        &__item {
            @include font-semibold();
            background-color: darken($color: $color-sidebar, $amount: 3%);
            padding: 20px;
            cursor: pointer;
            transition: background-color linear 0.2s;

            &:hover {
                background-color: darken($color: $color-sidebar, $amount: 10%);
            }

            &:active {
                background-color: darken($color: $color-sidebar, $amount: 15%);
            }
        }
    }

    &__session {
        margin-top: 20px;
        @include flexbox(column);
        color: $color-white;
    }

    &__store {
        margin-top: 20px;
        text-align: center;
        color: $color-white;
    }

    &__session-caption {
        font-size: 0.7rem;
    }

    &__login {
        font-size: 1rem;
    }
}